body {
	font: normal 100% Helvetica, Arial, sans-serif;

}
img, object { max-width: 100%;display:flex;width:100%;object-fit: cover;height: 30vw;transition: all 1s ease-in 1s;}
@media screen and (min-width: 1080px) {
    /*大屏幕*/
    body{
        max-width: 80%;
    }
    img{
        width: 100%;
    }
}
@media screen and (min-width:960px){
    img{
        height: 10rem;
    }
}
@media screen and (min-width:720px){
    img{
        height: 15rem;
    }
}
