body {
	font: normal 100% Helvetica, Arial, sans-serif;

}
img, object { max-width: 100%;display:flex;}
@media screen and (min-width: 1080px) {
    body{
        max-width: 80%;
    }
    img{
        width: 100%;
    }
}